<html lang="en">
<!--Head-->

<head>
    <meta charset="utf-8">
    <title>Registro de pacientes</title>
    <!--Fuente icono de Google-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Importar materialize.css-->
    <link type="text/css" rel="stylesheet" href="../../materialize/materialize/css/materialize.css"
        media="screen,projection" />
    <!--Importar style.css-->
    <link type="text/css" rel="stylesheet" href="../../resources/css/style.css" media="screen,projection" />
    <!--Dejar saber al navegador si el dispositivo esta optimizado-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Imagen icono para la pagina web-->
    <link rel="icon" type="image/x-icon" href="../../resources/img/logo.ico">
</head>
<!--Body-->

<body>
    <!--Header-->
    <header>
        <!--Navbar-->
        <nav>
            <div class="navbar-fixed  teal lighten-5">
                <a href="#!" class="brand-logo"><img class="img12" src="../../resources/img/logo.ico"></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href=""><i class="material-icons left">account_circle</i>Iniciar
                            sesión</a></li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li><a href=""><i class="material-icons left">account_circle</i>Iniciar
                    sesión</a></li>
            <li><a href="">Sobre Nosotros</a></li>
            <li><a href="">Contacto</a></li>
        </ul>
    </header>
    <!--Main-->
    <main>
        <div class="container ">
            <h3 class="center align">Registro de paciente</h3>
            <div class="col">
                <div class="row">
                    <div class="row">
                        <!--Primera fila con datos del paciente-->
                        <form class="col s12">
                          <div class="row">
                            <div class="input-field col s12 l3">
                              <i class="material-icons prefix">account_circle</i>
                              <input id="icon_prefix" type="text" class="validate">
                              <label for="icon_prefix">Nombres</label>
                            </div>
                            <div class="input-field col s12 l3">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="icon_prefix" type="text" class="validate">
                                <label for="icon_prefix">Apellidos</label>
                              </div>
                              <div class="input-field col s12 l3">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="icon_prefix" type="text" class="validate">
                                <label for="icon_prefix">Responsable</label>
                              </div>
                              <div class="input-field col s12 l3">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="icon_prefix" type="text" class="validate">
                                <label for="icon_prefix">Genero</label>
                              </div>
                          </div>
                        </form>
                        <!--Segunda fila con datos del paciente -->
                        <div class="row">
                            <form class="col s12">
                              <div class="row">
                                <div class="col s12 l3">
                                    <label>Estado Civil</label>
                                    <select class="browser-default">
                                      <option value="" disabled selected>Opciones</option>
                                      <option value="1">Casado</option>
                                      <option value="2">Divorciado</option>
                                      <option value="3">Soltero</option>
                                    </select>
                                  </div>
                                  <div class="input-field col s12 l3">
                                    <i class="material-icons prefix">work</i>
                                    <input id="icon_prefix" type="text" class="validate">
                                    <label for="icon_prefix">Ocupacion</label>
                                  </div>
                                  <div class="input-field col s12 l3">
                                    <i class="material-icons prefix">phone</i>
                                    <input id="icon_telephone" type="tel" class="validate">
                                    <label for="icon_telephone">Telephone</label>
                                  </div>
                                  <div class="input-field col s12 l3">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input id="icon_prefix" type="text" class="validate">
                                    <label for="icon_prefix">Edad</label>
                                  </div>
                              </div>
                            </form>
                          </div>
                          <!--correo y botones-->
                          <div class="row">
                            <div class="row">
                                <form class="col s12 ">
                                  <div class="row">
                                    <div class="input-field col s12 l9">
                                      <textarea id="textarea1" class="materialize-textarea"></textarea>
                                      <label for="textarea1">Correo</label>
                                    </div>
                                    <div class="col s12 center align">
                                        <button class="btn-large waves-effect waves dark ">Registrar</button>
                                      <button class="btn-large waves-effect waves dark ">Borrar campos</button>
                                    </div>
                                  </div>
                                </form>
                              </div>
                          </div>
                      </div>
                </div>
            </div>
    </main>

    <!--Footer-->
    <footer>

    </footer>
    <!--JavaScript al final del cuerpo para una carga optimizada-->
    <script type="text/javascript" src="../../materialize/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="../../controllers/public/index.js"></script>
</body>