<html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../../materialize/materialize/css/materialize.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="../../resources/css/style.css" media="screen,projection" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class="container">
            <div class="row">
                
            <div class="col s18 21">
 
                <div class="row">
                    <div class="login-container">
                    <form class="col s12">
                        <p>
                           
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email" type="email" class="validate">
                                    <label for="email">Ingrese su Correo</label>
                                </div>
                            </div>
                        </p>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" type="password" class="validate">
                                <label for="password">Ingrese su Contraseña</label>
                                <form action="#">
                                    <p>
                                        <label>
                                          <input class="with-gap" name="group1" type="radio"  />
                                          <span>Mantener mis sesion iniciada</span>
                                        </label>
                                      </p>
                                </form>
                            </div>
                        </div>

                    </form>
                    <div class="center-align">
                        <a class="waves-effect waves-light btn-large">Inciar Sesion</a>
                        <h6>¿Ya tienes una cuenta?  /  Registrate <a class="teal-text text-lighten-3" href="#!">Inicia Sesión</a></h6> 
                    </div>
                </div>
            </div>
            </div>
                <div class="col s12 l7">

                    <!--img width="650" src="../../recursos/img/registrar_usuario/bg-05.jpg"-->
                    <img class="col s12 l12" src="../../recursos/img/login/login_01">
                    
                </div>


        </div>

        </div>
   
       

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="../../materialize/materialize/js/materialize.min.js"></script>
    </body>
  </html>