<html lang="en">
<!--Head-->

<head>
    <meta charset="utf-8">
    <title>Clinica Ciruderma</title>
    <!--Fuente icono de Google-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Importar materialize.css-->
    <link type="text/css" rel="stylesheet" href="../../../materialize/materialize/css/materialize.min.css"
        media="screen,projection" />
    <!--Importar style.css-->
    <link type="text/css" rel="stylesheet" href="../../resources/css/style.css" media="screen,projection" />
    <!--Dejar saber al navegador si el dispositivo esta optimizado-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Imagen icono para la pagina web-->
    <link rel="icon" type="image/x-icon" href="../../resources/img/logo.ico">
</head>
<!--Body-->

<body>
    <!--Header-->
    <header>
        <!--Navbar-->
        <nav>
            <div class="navbar-fixed  teal lighten-5">
                <a href="#!" class="brand-logo">WG Store</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href=""><i class="material-icons left">arrow_drop_down</i>Consultas</a></li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li><a href=""><i class="material-icons left">account_circle</i>Iniciar
                    sesión</a></li>
            <li><a href="">Sobre Nosotros</a></li>
            <li><a href="">Contacto</a></li>
        </ul>
    </header>
    <!--Main-->
    <main>
        <div class="container">
            <div class="row">
                <h2 class="center-align white">Consultas</h2>
            </div>

            <div class="row">
                <div class="col l3 offset-l9">
                    <nav>
                        <div class="nav-wrapper #b2dfdb teal lighten-4">
                            <form>
                                <div class="input-field">
                                    <input id="search" type="search" required>
                                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                    <i class="material-icons">close</i>
                                </div>

                            </form>

                        </div>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="col">
                        <table class="responsive-table highlight centered ">
                            <thead>
                                <tr>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>Motivo de la consulta</th>
                                    <th>Enfermedad Actual</th>
                                    <th>Antecedentes Personales</th>
                                    <th>Antecedentes Familiares</th>
                                    <th>Tensión Arterial</th>
                                    <th>Frecuencia Cardiaca</th>
                                    <th>Frecuencia Respiratoria</th>
                                    <th>Talla</th>
                                    <th>Peso</th>
                                    <th>Actualizar</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>a</td>
                                    <td>b</td>
                                    <td>c</td>
                                    <td>d</td>
                                    <td>e</td>
                                    <td>f</td>
                                    <td>g</td>
                                    <td>h</td>
                                    <td>i</td>
                                    <td>j</td>
                                    <td>k</td>
                                    <td>
                                        <a class="waves-effect waves-light btn-small "><i
                                                class="material-icons">loop</i></a>
                                    </td>
                                    <td>
                                        <a class="waves-effect waves-light btn-small "><i
                                                class="material-icons">delete</i></a>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>5</td>
                                    <td>6</td>
                                    <td>7</td>
                                    <td>8</td>
                                    <td>9</td>
                                    <td>10</td>
                                    <td>11</td>
                                    <td>
                                        <a class="waves-effect waves-light btn-small "><i
                                                class="material-icons">loop</i></a>
                                    </td>
                                    <td>
                                        <a class="waves-effect waves-light btn-small "><i
                                                class="material-icons">delete</i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Aqui es el Inicio de los datos-->
        </div>
    </main>
    <!--Footer-->
    <footer>

    </footer>
    <!--JavaScript al final del cuerpo para una carga optimizada-->
    <script type="text/javascript" src="../../../materialize/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="../../controllers/public/index.js"></script>
</body>

</html>